@using SqlD.UI.ViewComponents.Registry
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - sql-d</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<script src="~/lib/radio/radio.min.js" asp-append-version="true"></script>
	<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
	<script src="~/lib/ace/src-min-noconflict/ace.js" asp-append-version="true"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">[ sql-d ]</a>
            </div>
            <div class="navbar-collapse collapse">
	            <div class="col-md-6 pull-right body-content">
		            @await Component.InvokeAsync(nameof(RegistrySelector))
	            </div>
				<ul class="nav navbar-nav">
					<li><a asp-area="" asp-controller="Home" asp-action="Index">/ Query</a></li>
					<li><a asp-area="" asp-controller="Service" asp-action="Index">/ Services</a></li>
					<li><a asp-area="" asp-controller="Surface" asp-action="Index">/ Surface</a></li>
				</ul>
            </div>
        </div>
    </nav>
    <div class="container text-center pad-all">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
