@using SqlD.UI.ViewComponents.Registry
@using SqlD.UI.ViewComponents.Sqlite
@{
	ViewData["Title"] = "query";
}


<div class="row">
	<div class="col-md-12">
		@await Component.InvokeAsync(nameof(RegistryList))
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@await Component.InvokeAsync(nameof(SqliteEditorQuery))
		<div class="text-muted" style="font-size: 12px; margin-bottom: 20px; padding: 0;">&lt;CTRL-Enter&gt; / &lt;CMD-Enter&gt; for results ...</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@await Component.InvokeAsync(nameof(SqliteEditorQueryResults))
		@await Component.InvokeAsync(nameof(SqliteEditorCommandResults))
		@await Component.InvokeAsync(nameof(SqliteEditorDescribeResults))
	</div>
</div>
