@model SqlD.UI.Models.Query.QueryResultViewModel

@if (Model != null && string.IsNullOrEmpty(Model.Error))
{
	<div id="queryPanel" class="panel panel-default">
		<div class="panel-heading">
			Sqlite Query Results
		</div>
		<div class="panel-body">
			<table class="table table-bordered">
				<thead>
				<tr>
					@foreach (var column in Model.Columns)
					{
						<th scope="col">@column</th>
					}
				</tr>
				</thead>
				<tbody>
					@foreach (var row in Model.Rows)
					{
						<tr>
						@foreach (var rowValue in row)
						 {
							 <th scope="row" style="font-weight:normal">@rowValue</th>
						 }
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}
else if (Model != null)
{
	<div class="alert alert-danger" role="alert">
		@Model.Error
	</div>
}
