@inherits MainLayoutBase

<Navigation @bind-ConnectedService="ConnectedService" />

<main role="container" style="padding-top: 57px; padding-bottom: 20px; ">
    <CascadingValue Value="@ConnectedService">
        @Body
    </CascadingValue>
</main>

<footer class="footer text-center bg-dark text-light fixed-bottom">
    <p>&copy; @DateTime.Now.Year</p>
</footer>
