@using SqlD.UI.Models.Registry
@using SqlD.UI.Services

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">[ sql-d ]</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink href="query" class="nav-link" ActiveClass="active">
                    Query
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="services" class="nav-link" ActiveClass="active">
                    Services
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="surface" class="nav-link" ActiveClass="active">
                    Surface
                </NavLink>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <select class="form-control mr-sm-2">
            @foreach (var registry in Registry.Entries)
            {
                <option value="@registry.Uri">@registry.Name</option>
            }
            </select>
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Connect</button>
        </form>
    </div>
</nav>

@code {

    private RegistryViewModel Registry = new RegistryViewModel(new List<RegistryEntryViewModel>());
    
    protected override async Task OnInitializedAsync()
    {
        Registry = await new RegistryService().GetServices();
    }

}