@model SqlD.UI.Models.Query.DescribeResultViewModel
@if (Model != null && string.IsNullOrEmpty(Model.Error))
{
	<table class="table table-bordered">
		<thead>
			<tr>
				@foreach (var column in Model.Columns)
				{
					<th scope="col">@column</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var row in Model.Rows)
			{
				<tr>
					@foreach (var rowValue in row)
					{
						<th scope="row" style="font-weight:normal">@rowValue</th>
					}
				</tr>
			}
		</tbody>
	</table>
}
else if (Model != null)
{
	<div class="alert alert-danger" role="alert">
		@Model.Error
	</div>
}
